<!-- Partials voor de form die in details.ejs word gebruikt -->
<input type="hidden" name="form-index" value="<%= index %>">
    <input id="radio1<%= index %>" type="radio" name="star" value="1">
    <label for="radio1<%= index %>">&#9733;</label>
        
    <input id="radio2<%= index %>" type="radio" name="star" value="2">
    <label for="radio2<%= index %>">&#9733;</label>
    
    <input id="radio3<%= index %>" type="radio" name="star" value="3">
    <label for="radio3<%= index %>">&#9733;</label>
    <input id="radio4<%= index %>" type="radio" name="star" value="4">
    <label for="radio4<%= index %>">&#9733;</label>

    <input id="radio5<%= index %>" type="radio" name="star" value="5">
    <label for="radio5<%= index %>">&#9733;</label>

    <div class="disabled-rating">
        <p>Beoordeling is doorgevoerd</p>
    </div>
 