<%- include('./partials/head') %>
<body>
    <main>  
        <h1>Favoriete huizen</h1>

        <div class="container">
            <% alleHuizen.forEach((huis, index) => { %>
            
                <div class="card">
                    <figure>
                        <img src="https://fdnd-agency.directus.app/assets/<%= huis.poster_image %>" class="house-card">
                    </figure>  

                    <article>
                        <ul>
                            <a href="./huis/<%= huis.id %>"> <h2> <%= huis.street%> <%= huis.house_nr%> </h2> </a>
                            <li>€ <%- huis.price %></li>
                            <li><%- huis.postal_code %> <%- huis.city %></li>
                            <li><%- huis.m2 %> m² • <%- huis.rooms %> Kamers</li>
                            <li><%- huis.m2 %></li>
                            <li><%- huis.agent %></li>
                        </ul>
                    </article> 

                    <form action="/" method="post">
                        <section class="rating-stars">
                           <input id="radio1<%= index %>" type="radio" name="star<%= index %>" value="1">
                            <label for="radio1<%= index %>">&#9733;</label>
                              
                            <input id="radio2<%= index %>" type="radio" name="star<%= index %>" value="2">
                            <label for="radio2<%= index %>">&#9733;</label>
                              
                            <input id="radio3<%= index %>" type="radio" name="star<%= index %>" value="3">
                            <label for="radio3<%= index %>">&#9733;</label>
            
                            <input id="radio4<%= index %>" type="radio" name="star<%= index %>" value="4">
                            <label for="radio4<%= index %>">&#9733;</label>
                          
                            <input id="radio5<%= index %>" type="radio" name="star<%= index %>" value="5">
                            <label for="radio5<%= index %>">&#9733;</label>
                        </section>
                    </form>
                </div>
            <% }) %>
        </div> 
    </main>
</body>

<%- include('./partials/foot') %>